source https://api.nuget.org/v3/index.json

storage: none
framework:auto-detect
nuget FSharp.Core
nuget Giraffe
nuget Scriban
nuget FSharp.Data.LiteralProviders
nuget Google.Apis.Auth
nuget Destructurama.FSharp
nuget Serilog
nuget Giraffe.SerilogExtensions
nuget Serilog.Expressions
nuget Serilog.AspNetCore
nuget Serilog.Sinks.Seq
nuget Serilog.Sinks.Console
nuget Serilog.Sinks.File
nuget Hocon.Extensions.Configuration
nuget FSharp.Core
nuget FluentMigrator.Runner.SQLite
nuget FCQRS.Serialization
nuget FCQRS.SQLProvider
nuget Microsoft.Data.Sqlite
nuget SQLitePCLRaw.core
nuget FCQRS.Model
nuget FCQRS.SqlProvider >= 1.0.4